<style type="text/css">
.button {
   background-color: rgba(148,193,242,1);
   -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
           box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
   border: solid 1px rgba(87,207,237,1);
   -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
           border-radius: 6px;
   width: 172px;
   display: inline-block;
   font-size: 23px;
   line-height: 48px;
   text-indent: 50px;
   color: rgba(7,41,176,1);
   font-weight: bold;
}
.button:hover {
   background-color: rgba(148,193,242,1);
   -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
           box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
   border: solid 1px rgba(87,207,237,1);
   -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
           border-radius: 6px;
   width: 172px;
   display: inline-block;
   font-size: 23px;
   line-height: 48px;
   text-indent: 50px;
   color: rgba(7,41,176,1);
   font-weight: bold;
}
.button:active {
}
</style>